# LDAP to postfix link
server_host = {% if ldap_host is defined %}{% for item in ldap_host %}ldaps://{{ item }}:636/{% if not loop.last %} {% endif %}{% endfor %}{% endif %}

timeout = 10
search_base = {{ ldap_base }}
# Filter                      account active         password don't expire     password had expired
query_filter = (&(mail=%u@%d)(|(userAccountControl=512)(userAccountControl=66048)(userAccountControl=8398120)))
result_attribute = sAMAccountName
bind = yes
bind_dn = {{ ldap_bind }}
bind_pw = {{ ldap_pass }}
